.is-visible {
    display: block;
}

.is-hidden {
    visibility: hidden;
}

.lightbox,
.lightbox-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
}

.lightbox-overlay {
    background-color: #000;
    opacity: 0.5;
}

.lightbox-content {
    text-align: center;
}

.photo-container img {
    height: 90%;
}
