/**

PAGE LAYOUT

**/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6EFF8;
    margin: 0;
}

.thumb-collection {
    background-color: #FFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 0 10%;
    padding: 40px 50px;
    min-height: 500px;
}

/**

HEADER

**/

header {
    margin-bottom: 30px;
}

.album-title {
    color: #0a284c;
    display: inline-block;
    font-size: 4em;
    font-weight: normal;
    margin: 0;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.album-title.is-loading {
    color: #5d6d7d;
}

.album-author {
    color: #5d6d7d;
    line-height: 45px;
    margin: 0 0 0 5px;
    vertical-align: bottom;
}

/**

THUMBS

**/

.thumbs-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}

.thumbs-container .loading-indicator {
    position: absolute;
    top: 150px;
    width: 100%;
}
.thumbs-container.is-loading .thumb {
    opacity: 0.5;
}

.thumb {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    flex: 1 1 auto;
    height: 150px;
    margin: 0 5px 5px 0;
    max-width: 250px;
    min-width: 100px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s, opacity 0.2s;
    opacity: 1;
}
.thumb:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


/**

LIGHTBOX

**/


.lightbox-overlay {
    background-color: #000;
    display: none;
    opacity: 0.8;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
}
.lightbox-overlay.is-visible {
    display: block;
}

.lightbox-content {
    align-items: center;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.lightbox-content.is-visible {
    display: flex;
}

.lightbox-content .prev-btn-container,
.lightbox-content .next-btn-container {
    flex: 1 4 0;
}
.lightbox-content .prev-btn-container {
    text-align: right;
    padding-right: 20px;
}
.lightbox-content .next-btn-container {
    text-align: left;
    padding-left: 20px;
}

.lightbox-center-container {
    display: flex;
    height: 100%;
    flex: 5 1 auto;
    flex-direction: column;
    text-align: center;
}
.lightbox-center-container .lightbox-photo-title {
    color: #fff;
    flex: 1 1 0;
    font-weight: normal;
    margin: 15px 0 20px;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.lightbox-center-container .lightbox-photo-title:hover {
    opacity: 1;
}

.lightbox-photo-container {
    flex: 10 0 auto;
    margin-top: 30px;
    position: relative;
}

.lightbox-photo-container img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    transition: opacity 0.2s;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 70px 5px rgba(0, 0, 0, 0.5);
}
.lightbox-photo-container.is-loading img {
    opacity: 0;
}

.lightbox-content button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 5em;
    opacity: 0.3;
    transition: color 0.2s, transform 0.2s;
}
.lightbox-content button:focus {
    opacity: 1;
    outline: none;
}
.lightbox-content button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.lightbox-content .close-lightbox-btn {
    position: absolute;
    top: 0;
    right: 20px;

}

/**

LOADING INDICATOR

**/

.loading-indicator {
    display: none;
}
.is-loading .loading-indicator {
    display: block;
}

.loading-indicator > div {
    animation: foo 1.5s infinite;
    background-color: #E6EFF8;
    border: 2px solid #5d6d7d;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.loading-indicator > div:nth-child(2) { animation-delay: 0.1s; }
.loading-indicator > div:last-child { animation-delay: 0.2s; }

@keyframes foo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}


.is-hidden {
    visibility: hidden !important;
}
